<form (ngSubmit)="onSignIn(f)" #f="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email" ngModel>
    <div *ngIf="f.submitted && !email" class="help-block">Email required</div>
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" name="password" ngModel>
    <div *ngIf="f.submitted && !password" class="help-block">Password required</div>
    <input type="submit" (click)="onSignIn()" value="Submit">
  </div>
</form>
