<form (ngSubmit)="onSignUp(f)" #f="ngForm">
  <div class="form-group">
      <label for="email">Entrer l'email</label>
      <input type="email" class="form-control" id="email" placeholder="email" name="email" ngModel>

      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="nom" ngModel>

      <label for="password">Entrer le mot de passe</label>
      <input type="password" class="form-control" id="password" placeholder="Password" name="password" ngModel>

      <label for="cpassword">Confirmer le mot de passe</label>
      <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password" name="cpassword" ngModel>

      <input type="submit" (click)="onSignUp()" value="Submit">
  </div>
</form>
